.primary {
  height: 400px;
  width: 100%;
  z-index: auto;
  text-align: center;
  background-color: #00c1db;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin-right: 10%;
}

avatar {
  text-align: center;
}

[role=alertdialog] {
  position: static;
}

/* Tablet & Desktop: minimum width of 768px */
@media only screen and (min-width: 768px) {

  /* Write Tablet only CSS here */
  header {
    flex: 4;
  }

}