#tweets{
  display: block;
  margin: 0;
  width:100%;
}

#tweets article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: .2em solid blue;
  margin-bottom: 1em;
  min-height: 270px;
  width:100%;
}

#tweets article:first-child {
  margin-top: 2em;
}

#tweets article:hover {
  box-shadow: 10px 10px 5px grey;   
}

#tweets article > header {
  width: 100%;
  height: calc(70px + 0.5em);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;

}

#tweets article > header > figure {
  display: flex;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  align-items: center;
}

#tweets article > header > figure > img {
  padding-left: 0;
  border: 0;
}

#tweets article > header > figure > figcaption {
 padding-left: .5em;
 
}

#tweets article > header > p {
  margin: 0;
}

#tweets article > p {
  position: relative;
  width: 100%;
  margin: 0;
  padding: .5em; 
}

#tweets article > footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

#tweets article > footer > p {
  padding-left: .5em;
  margin: 0;
}

#tweets article > footer > div {
  padding-right: 1em;
  margin: 0;
}

#error {
  color: red;
  font-weight: bold;
  text-align: center;
}

