.write-tweet textarea {
  width: 100%;
  font-size: 35px;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-color: blue;
  border-bottom-width: .3em;
  border-left-width: 0;
  background: transparent;   
}

.write-tweet input {
  font-weight: bold;
  font-size: 25px;
  margin-top: 1em;
  background-color: darkcyan;  
}

.counter {
  float: right;
  font-weight: bold;
  margin-top: 1em;
  color: blue;
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px and max-width: 1024px) {
  /* Write Tablet only CSS here */
  .write-tweet textarea {
    
  }
  
  .write-tweet input {
  }
  
  .counter {

  }
  

}

 /* Laptops / Desktops: minimum width of 1024px */
 @media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  .write-tweet textarea {
  }
  
  .write-tweet input {
  }
  
  .counter {

  }

}